
#formLogin{
    margin: 25%;
    background-color: bisque;
    border-radius: 25px;
    padding: 4%;
}
#formEsqueceuSenha{
    margin-top: 40px;

}
#tabela{
    margin-block: 20%;
}
#fundo{
    background-color: brown;
}